:root {
	font-family: 'DM Sans', Arial, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
		Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	tab-size: 4;
	--font-mono: 'DM Mono', sans-serif;
}

body {
	min-height: 100vh;
	margin: 0;
}

code, pre {
	font-family: var(--font-mono);
	font-size: 12px;
}

h1,
h2,
p {
	font-weight: 400;
}

p {
 line-height: 1.5;
 margin: 0;
}

a {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

h2 {
	font-size: 1rem;
}

li {
	list-style: none;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none;
  margin: 0; 
}
input[type=number] {
    -moz-appearance:textfield;
}

* {
	box-sizing: border-box;
}